import Foundation

enum Route: Hashable {
    // TODO: add one case per pushed destination, e.g. `case issueReport`
}

enum Sheet: Identifiable, Hashable {
    // TODO: add one case per presented sheet

    var id: Self { self }
}

enum FullScreenCover: Identifiable, Hashable {
    // TODO: add one case per presented full-screen cover

    var id: Self { self }
}
